header {
    background-color: #d6effd;
}

header img {
    width: 200px;
    height: auto;
}

nav a {
    font-family:'Caveat', cursive;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #526a7c;
    text-decoration-thickness: 4px;
}

.banner-img {
    max-width: 100%;
    height: auto;
}

main hr {
    border: 4px solid #A6D9FD;
    border-radius: 20px;
}

.moha-johar {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

h2 {
    font-family: 'Caveat', cursive;
}

.container p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

main .preview img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #d6effd;
}

footer p {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    font-weight: bold;
}

svg {
    fill: #526a7c;
}

.about img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}