/* adding style elements to the website */
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

/* adjusting website alignment */
.container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
}

/* editing the list items */
main section ul {
    padding: 17px;
}
/* removing bullets */
nav ul {
    list-style: none;
}
/* removing undrline */
nav ul a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
/* giving a border to the list */
nav ul a,
nav ul a:link,
nav ul a:visited {
    border: 1px solid black;
}
/* adding a background while hovering */
nav ul a:hover,
nav ul a:focus {
    background-color: rgba(0, 0, 0, 0.10);
}
/* aligning the links */
nav ul li {
    display: inline-block;
    width: 32%;
    padding: 1em;
    box-sizing: border-box;
}

form {
    border: 1px solid black;
}
